{% extends 'base.html' %}

{% block title %} Биография А4 {% endblock %}

{% block content %}
<div class="page_intro">
  <img src="https://yt3.ggpht.com/YXktyu1_ipuhOZinf9tX5lcR7Gbw5pgUb_QgU_rSip0jCsKIN5bypS6IGot38Av3PjWH-Pnl=w2120-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj">
</div>

<div class="bio_section">
  <h1>Биография</h1>

  <p class="text">
    Владислав Андреевич (Влад) Бумага, родился 5 июня 1996 в Минске, Белоруссии, также известен как Влад А4 и просто A4, — белорусский видеоблогер, певец, создатель и владелец YouTube-каналов «А4» и «А5», инстаблогер. Считается одним из самых популярных видеоблогеров русскоязычного сегмента видеохостинга YouTube.

    Владислав Бумага родился в семье учительницы начальных классов и инженера Андрея Бумаги. Детство парня прошло в микрорайоне Серебрянка. Девять лет увлекался хоккеем, играя нападающим в детско-юношеской спортивной школе «Динамо» и «Юность». Один год тренировался в Чехии. После травмы ушёл из спорта.
  </p>
</div>

<div class="bio_section">
  <h1>Карьера</h1>
  
  <p class="text">
    29 ноября 2014 года Влад Бумага зарегистрировал свой канал на YouTube с названием «A4», обыгрывая свою настоящую фамилию Бумага. Известность пришла в 2016 году после публикации ролика «24 часа в батутном центре», когда количество подписчиков выросло с 200 тыс. до 1 млн человек.
  </p>
  <p class="text">
Свою карьеру музыканта Влад начал с пародии на песню Грибы — «Тает лёд», которая набрала 35 млн просмотров. 12 августа 2018 года выпустил клип «Батя», а 31 мая 2019 года совместно с Катей Адушкиной — «Огонь».
  </p>
  <p class="text">
В 2019 году согласно ролику YouTube Rewind Влад Бумага занял 9 место среди самых залайканных видеоблогеров, набрав 2 млн лайков в видеоролике «Покупаю всё, что ты можешь унести из магазина!».
  </p>
  <p class="text">
По данным аналитического сервера Brand Analytics в сентябре 2019 года Влад Бумага стал вторым по популярности среди всех русскоязычных YouTube-блогеров. По словам Михаила Быченка, совладельца Media Cube, инфлюенсер уровня Влада Бумаги зарабатывает в месяц от 10 тыс. до 100 тыс. долларов США.
  </p>
  <p class="text">
7 февраля 2020 года стал гостем программы «Вечерний Ургант».
  </p>
  <p class="text">
По мнению белорусских СМИ Влад Бумага считается самым популярным видеоблогером в стране. С 6 по 13 апреля и с 13 по 20 апреля 2020 года по данным Social Blade количество просмотров роликов на канале «А4» превзошли результат просмотров шведского блогера Пьюдипая.
  </p>
  <p class="text">
Кроме основного канала «А4» Влад Бумага в октябре 2019 года открыл канал «Головной Рис» на тему головоломок и в декабре 2019 года канал с экспериментами «А5».
  </p>
  <p class="text">
По мнению аналитической компании AMDG является вторым по популярности белорусским блогером в социальной сети TikTok с результатом 4,7 млн подписчиков.
  </p>
  <p class="text">
Согласно данным интернет-издания SRSLY Влад Бумага занял 3 место в рейтинге популярных блогеров за первое полугодие 2020 года, уступив Насте Ивлеевой и Оксане Самойловой.
  </p>
  <p class="text">
В 2020 году Влад попал в номинацию рейтинга Forbes «30 самых перспективных россиян до 30 лет» в категории «Новые медиа», однако не смог победить — лауреатами назвали Нурлана Сабурова, Юлию Пош и Татьяну Столяр.
  </p>
  <p class="text">
В 2020 году компания Влада «ЧЕТЫРЕАЧЕТЫРЕ» стала резидентом Парка высоких технологий. Компания занимается разработкой программного обеспечения для аналитики состояния и динамики зрительского интереса на видеоплатформах.
  </p>
  <p class="text">
Осенью 2021 года перестал публиковать материалы под своим аккаунтом. Продюсер Влада Екатерина Стабровская заявила, что не может делать заявлений по этому поводу.
  </p>
  <p class="text">
По итогам 2021 года на YouTube занял первую позицию в рейтинге «Топ авторов» в России.
  </p>
</div>
{% endblock %}